@model AutomationTestResultManager.CommonEntities.ATRTestCase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ATRTestCase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasterComponent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasterComponent.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
